<body>
    <!-- <img src="../../assets/pexels-photo-773958.webp" alt=""> -->

    <div class="login-form">

        <h1> Login Form</h1>
        <form action="#">
            <!-- <img src="../../assets/pexels-photo-773958.webp" alt=""> -->
            <p>User Name</p>
            <input type="text" name="user" placeholder="Enter UserName">
            <P>Password</P>
            <input type="password" name="password" placeholder="Enter Your Password"><br><br>
            <button routerLink="/home" type="submit">LOGIN</button>
        </form>
    </div>
</body>
