<!-- <body> -->

<div>
    <nav class="navbar">
        <!-- <div class="img"> -->
        <!-- <img src="../assets/banner.jpg" alt="no image"> -->
        <div class="container">
            <h1 class="logo"></h1>
            <div class="navbar-menu">
                <ul>
                    <a href="#">HOME</a>
                    <a href="#">ABOUT</a>
                    <a href="#">MENU</a>
                    <a href="#">BLOG</a>
                    <a href="#">CONTACT</a>
                </ul>
            </div>
        </div>
        <!-- </div> -->
    </nav>
    
    <div>
        <div class="banner">
            <div>
                <h2>Welcome Our Coffee</h2>
                <h1>Live Your Life With Energy</h1>
                <P>A cup of coffee lasts only a moment,but it is that moment that makes your day better.</P>
            </div>
        </div>
    </div>
    
    
    <div class="about">
        <h1>About</h1>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Accusantium id maiores vel deleniti laborum ea,
            suscipit natus voluptatum exercitationem voluptatem incidunt qui rem quas reprehenderit veritatis iste, eos
            est necessitatibus.</p>
    </div>

</div> 
<!-- </body> -->